.mat-dialog-actions{
    flex-direction: row-reverse;
}
.form-container{
    padding: 40px;  
}
.row-flex{
    display: flex;
    flex-direction: row;
}
.col-flex{
    display: flex;
    flex-direction: column;
    width: 50%;
}
span{
    width: 50%;
}

.mat-dialog-content{
    display: flex;
    flex-direction:column;
    overflow: hidden;
    min-width: 400px;
}
.mat-dialog-container {
  padding: 0;
}
.form-element {
    width: 100%;
}
